[submodule "third_party/wolfssl"]
	path = third_party/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
	ignore = dirty
[submodule "third_party/mosquitto"]
	path = third_party/mosquitto
	url = https://github.com/eclipse/mosquitto.git
	ignore = dirty
[submodule "third_party/wolfMQTT"]
	path = third_party/wolfMQTT
	url = https://github.com/wolfSSL/wolfMQTT.git
	ignore = dirty
